@model WebApplication2.Models.Publisher


<h2>細節</h2>

<div>
    <h4>出版社</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.PubID }) |
    @Html.ActionLink("回清單", "Index")
</p>
