
@{
    ViewBag.Title = "Index2";
}

<h3>服務地點</h3>
<div id="dvMap" style="width: 100%; height:300px">
</div>
<script type="text/javascript">
    function myMap() {  //使用call back
        //(1)準備資料，用Json格式
        var data = { "title": "女神之家", "lat": "22.601739", "lng": "120.335141", "icon": "/img/stust.png", "content": "歡迎來我家" };
        //(2) 設定Google Map參數，設定地圖中心點
        var mapOptions = {
             center: new google.maps.LatLng(data.lat,data.lng),
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        //(3)建立地圖物件，取dvMap為畫圖位置
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        //(4)建立顯示視窗物件
        var infoWindow = new google.maps.InfoWindow();

     //   (5)設定標記位置
        var myLatlng = new google.maps.LatLng(data.lat, data.lng);  //經緯度物件
        var marker = new google.maps.Marker({                   //建立標記物件
            position: myLatlng,
            map: map,
            title: data.title,
            icon: data.icon // data.icon
        });
        addMarkEvent(marker, data.content);  //標記按下的事件

//設定第二個地點
        var myLatlng2 = new google.maps.LatLng(22.601739, 120.335141);  //經緯度物件
        var marker2 = new google.maps.Marker({                   //建立標記物件
            position: myLatlng2,
            map: map,
            title: "女神之家",
          //  icon: data.icon // data.icon
        });
        addMarkEvent(marker2, "女神之家");  //標記按下的事件
        var myLatlng3 = new google.maps.LatLng(22.634266, 120.357927);  //經緯度物件
        var marker2 = new google.maps.Marker({                   //建立標記物件
            position: myLatlng3,
            map: map,
            title: "女神學校",
            //  icon: data.icon // data.icon
        });
        addMarkEvent(marker2, "女神學校");  //標記按下的事件
        //(6) 建立標記事件
        function addMarkEvent(marker, content) {
            google.maps.event.addListener(marker, "click", function () {
                infoWindow.setContent(content);
                infoWindow.open(map, marker);
            });
        };
      };
</script>

