
@{
    ViewBag.Title = "Logout";
}

<h1>這是登入畫面</h1>
<form action="/Home/Logon" method="post">
    <input type="text" name="account" /> <br />
    <input type="password" name="password" /><br />
    <input type="submit" value="送出" />
</form>

<h2>  @ViewBag.check</h2>


