<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>網路書店 - 第八組</title>
    <!-- Bootstrap core CSS -->
    <link href="~/BootStrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/BootStrap/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">網路書店</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">
                            首頁
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Logon">登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Signup">註冊</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href=""> 使用者: @HttpContext.Current.User.Identity.Name @Session["user"] </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Logout">登出</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">第八書店</h1>
                <div class="list-group">

                        <a href="/Home/Index" class="list-group-item">商店</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a href="/SUsers/Index" class="list-group-item">使用者管理</a>
                        <a href="/SUserRoles/Index" class="list-group-item">使用者群組管理</a>
                        <a href="/Publishers/Index" class="list-group-item">出版社</a>
                        <a href="/Writers/Index" class="list-group-item">作者</a>
                    }              
                    <a href="#" class="list-group-item">關於我們</a>

                </div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
                @RenderBody()
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/BootStrap/vendor/jquery/jquery.min.js"></script>
    <script src="~/BootStrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
